{% extends 'base.html.twig' %}

{% block title %}EniSorties | Inscription{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}
    {{ form_rest(registrationForm) }}
    <div class="button">
        <div class="padding"></div>

        {% if is_granted('ROLE_ADMIN') %}
            <button type="submit">Inscription</button>
        {% else %}
            <button type="submit">S'inscrire</button>
        {% endif %}

        <div class="padding"></div>
        <div class="forget-password">
            <p>Déjà membre ? <a href="{{ path('app_login') }}"><b>Se connecter</b></a></p>
        </div>
    </div>
    {{ form_end(registrationForm) }}

    <div class="padding"></div>
    <div class="padding"></div>

{% endblock %}
