{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nous venons de t'envoyer un mail pour la vérification de ton compte.</h1>

    <p>
        Clique sur le lien pour vérifier ton adresse mail.
    </p>

{% endblock %}