{% extends 'base.html.twig' %}

{% block title %}SORTIR | Accueil{% endblock %}

{% block body %}

    <div class="grid">
        <div class="img">
            <img src="{{ asset('img/bg.png') }}" alt="">
        </div>
        <div class="index-text">
            <h1>Votre lieu pour programmer des activités avec vos collègues</h1>

            <p>Découvrez les meilleurs plans pour rendre votre vie étudiante inoubliable. Que ce soit pour des soirées, des concerts, des expositions ou des rencontres, nous avons tout ce qu'il vous faut pour vivre des moments mémorables entre amis.
                Parcourez notre sélection d'événements passionnants, trouvez l'inspiration et créez des souvenirs inoubliables tout au long de votre parcours universitaire.
                Prêt à vivre des aventures inoubliables ? Rejoignez-nous et commencez à explorer dès maintenant ! </p>
        </div>
    </div>
{% endblock %}