{% extends 'base.html.twig' %}

{% block title %}EniSorties | Modifier le profil{% endblock %}

{% block body %}
    <h1>Modification Profil</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}

    <div class="button">
        <div class="padding"></div>
        <button type="submit">
            Modifier
        </button>
        <div class="padding"></div>
    </div>
    {{ form_end(form) }}
{% endblock %}