{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="button">
    <div class="padding"></div>
    <button type="submit">
        {{ button_label|default('Publier') }}
    </button>
    <div class="padding"></div>
</div>
{{ form_end(form) }}
