{% extends 'base.html.twig' %}

{% block title %}EniSorties | Créer une sortie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle sortie</h1>

    {{ include('sortie/_form.html.twig') }}


    <a href="{{ path('app_sortie_index') }}">
        <button class="button-background"><i class="fa-solid fa-arrow-rotate-left"></i> Retour à la liste</button>
    </a>

    <div class="margin"></div>
{% endblock %}
