{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle sortie</h1>

    {{ include('sortie/_form.html.twig') }}
    <div class="button">
        <div class="padding"></div>
        <button type="submit">
            Publier
        </button>
        <div class="padding"></div>
    </div>

    <a href="{{ path('app_sortie_index') }}">Retour à la liste</a>
{% endblock %}
