{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}


    <div class="align-left">
        <h1>Mentions Légales</h1>

        <br>

        <p style="font-weight: 500">Conformément aux dispositions des articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'Économie Numérique, nous vous informons que :</p>

        <div class="padding"></div>

        <h4 class="h4-black">Éditeur du site :</h4>

        <div class="padding"></div>

        <p style="font-weight: 500">[Raison sociale de l'entreprise]
            [Forme juridique de l'entreprise] au capital de [montant du capital social] euros
            Immatriculée au Registre du Commerce et des Sociétés de [ville d'immatriculation] sous le numéro [numéro d'immatriculation]
            Siège social : [adresse du siège social]
            Téléphone : [numéro de téléphone]
            Email : [adresse email]
            Directeur de la publication : [nom du directeur de la publication]</p>

        <div class="padding"></div>

        <h4 class="h4-black">Hébergeur du site :</h4>

        <div class="padding"></div>

        <p style="font-weight: 500">[Raison sociale de l'hébergeur]
            [Adresse de l'hébergeur]
            Téléphone : [numéro de téléphone]
            Email : [adresse email]</p>

        <div class="padding"></div>

        <h4 class="h4-black">Propriété intellectuelle :</h4>

        <div class="padding"></div>

        <p style="font-weight: 500">Le présent site et l'ensemble de son contenu (textes, images, sons, vidéos, etc.) sont protégés par le droit d'auteur et autres droits de propriété intellectuelle. Toute reproduction ou représentation totale ou partielle de ce site ou de son contenu est strictement interdite sans autorisation expresse et préalable de [Raison sociale de l'entreprise].</p>

        <div class="padding"></div>

        <h4 class="h4-black">Données personnelles :</h4>

        <div class="padding"></div>

        <p style="font-weight: 500">Les données personnelles collectées sur ce site sont uniquement destinées à [Raison sociale de l'entreprise] et ne seront en aucun cas transmises à des tiers. Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 modifiée, vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant. Pour exercer ce droit, veuillez contacter [Raison sociale de l'entreprise] à l'adresse suivante : [adresse postale] ou par email à [adresse email].</p>

        <div class="padding"></div>

        <h4 class="h4-black">Cookies</h4>

        <div class="padding"></div>

        <p style="font-weight: 500">Ce site utilise des cookies pour améliorer votre expérience utilisateur. En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies.</p>

        <div class="padding"></div>

        <h4 class="h4-black">Liens hypertextes</h4>

        <div class="padding"></div>

        <p style="font-weight: 500">Les liens hypertextes présents sur ce site et orientant les utilisateurs vers d'autres sites internet n'engagent pas la responsabilité de [Raison sociale de l'entreprise] quant au contenu de ces sites.</p>

        <div class="padding"></div>

        <h4 class="h4-black">Crédits</h4>

        <div class="padding"></div>

        <p style="font-weight: 500">Le design et le développement de ce site ont été réalisés par [Nom de l'agence ou du développeur].</p>

        <div class="margin"></div>
        <div class="margin"></div>
    </div>

{% endblock %}