{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}


    <div class="align-left">
        <h1>Politique de Confidentialité</h1>

        <br>

        <p style="font-weight: 500">Cette Politique de Confidentialité régit la manière dont EniSorties collecte, utilise, conserve et divulgue
            les informations recueillies auprès des utilisateurs du site web www.enisorties.com. Cette politique de
            confidentialité s'applique au Site et à tous les produits et services proposés par EniSorties.

        <div class="padding"></div>

        <h4 class="h4-black">Informations de identification personnelle</h4>

        <div class="padding"></div>

        <p style="font-weight: 500">Nous pouvons collecter des informations d'identification personnelle auprès des Utilisateurs de différentes
        manières, y compris, mais sans s'y limiter, lorsque les Utilisateurs visitent notre site, s'inscrivent sur le
        site, passent une commande, remplissent un formulaire, et en relation avec d'autres activités, services,
        fonctionnalités ou ressources que nous mettons à disposition sur notre Site. Les utilisateurs peuvent être
        invités, le cas échéant, à fournir leur nom, adresse e-mail, adresse postale, numéro de téléphone, informations
            de carte de crédit, et autres informations.</p>

        <div class="padding"></div>

        <h4 class="h4-black">Informations de non-identification personnelle</h4>

        <div class="padding"></div>

        <p style="font-weight: 500">Nous pouvons collecter des informations de non-identification personnelle sur les Utilisateurs chaque fois
        qu'ils interagissent avec notre Site. Les informations de non-identification personnelle peuvent inclure le nom
        du navigateur, le type d'ordinateur et des informations techniques sur les moyens de connexion des Utilisateurs
        à notre Site, telles que le système d'exploitation utilisé et le fournisseur de services Internet utilisé et
        d'autres informations similaires.</p>

        <div class="padding"></div>

        <h4 class="h4-black">Cookies du navigateur web</h4>

        <div class="padding"></div>

        <p style="font-weight: 500">Notre site peut utiliser des "cookies" pour améliorer l'expérience utilisateur. Le navigateur web de
        l'Utilisateur place des cookies sur leur disque dur à des fins de tenue de registres et parfois pour suivre les
        informations les concernant. L'utilisateur peut choisir de configurer leur navigateur web pour refuser les
        cookies, ou pour les alerter lorsque des cookies sont envoyés. Si tel est le cas, notez que certaines parties du
        Site peuvent ne pas fonctionner correctement.</p>

        <div class="padding"></div>

        <h4 class="h4-black">Comment nous utilisons les informations collectées</h4>

        <div class="padding"></div>

        <p style="font-weight: 500">EniSorties peut collecter et utiliser les informations personnelles des Utilisateurs aux fins suivantes :</p>

        <br>

        <p style="font-weight: 500">Pour améliorer le service client
        Pour personnaliser l'expérience de l'utilisateur
        Pour améliorer notre Site
        Pour traiter les paiements
        Pour envoyer des e-mails périodiques
        À des fins de marketing ou de promotion
        Comment nous protégeons vos informations

        Nous adoptons des pratiques appropriées de collecte, de stockage et de traitement des données et des mesures de
        sécurité pour protéger contre tout accès non autorisé, altération, divulgation ou destruction de vos
        informations personnelles, nom d'utilisateur, mot de passe, informations de transaction et données stockées sur
        notre Site.</p>

        <div class="padding"></div>

        <h4 class="h4-black">Partage de vos informations personnelles</h4>

        <div class="padding"></div>

        <p style="font-weight: 500">Nous ne vendons, n'échangeons, ni ne louons les informations d'identification personnelles des Utilisateurs à
        des tiers. Nous pouvons partager des informations démographiques agrégées génériques non liées à des
        informations d'identification personnelle concernant les visiteurs et les utilisateurs avec nos partenaires
            commerciaux, affiliés de confiance et annonceurs à des fins décrites ci-dessus.</p>

        <div class="padding"></div>

        <h4 class="h4-black">Changements à cette politique de confidentialité</h4>

        <div class="padding"></div>

        <p style="font-weight: 500">EniSorties se réserve le droit de mettre à jour cette politique de confidentialité à tout moment. Nous
        encourageons les Utilisateurs à consulter fréquemment cette page pour tout changement afin de rester informés
        sur la manière dont nous aidons à protéger les informations personnelles que nous collectons. Vous reconnaissez
        et acceptez qu'il est de votre responsabilité de revoir périodiquement cette politique de confidentialité et de
            prendre connaissance des modifications.</p>

        <div class="padding"></div>

        <h4 class="h4-black">Votre acceptation de ces termes</h4>

        <div class="padding"></div>

        <p style="font-weight: 500">En utilisant ce Site, vous signifiez votre acceptation de cette politique. Si vous n'êtes pas d'accord avec
        cette politique, veuillez ne pas utiliser notre Site. Votre utilisation continue du Site après la publication de
            modifications de cette politique sera considérée comme votre acceptation de ces modifications.</p>

        <div class="padding"></div>

        <h4 class="h4-black">Contactez-nous</h4>

        <div class="padding"></div>

        <p style="font-weight: 500">Si vous avez des questions sur cette Politique de Confidentialité, les pratiques de ce site, ou vos interactions
        avec ce site, veuillez nous contacter à :

        EniSorties
        46 rue des Fontaines
        02 40 01 05 80
        enisorties@email.fr
        www.enisorties.com/contact

        Cette politique a été mise à jour le 12/02/2024.</p>

        <div class="margin"></div>
        <div class="margin"></div>
    </div>

{% endblock %}