{% extends 'base.html.twig' %}
{% block title %}Ajouter une ville{% endblock %}
{% block body %}

    <div class="d-flex justify-content-center flex-column card container p-3 shadow-sm my-5 fond"
         style="max-width: 800px;">
        <h1 class="d-flex justify-content-center my-3">Liste des sites existants :</h1>
        {% for site in site %}
            <ul class="list-group text-center">
                <li class="list-group-item text-center d-flex justify-content-between align-items-center couleurTableau bordure mb-2">
                    <div>- {{ site.nom }}</div>
                    <div>
                        <a class=" btn buttonDetail " href="{{ path('app_main', {'id': site.id}) }}">Supprimer</a>
                    </div>
                </li>
            </ul>
        {% endfor %}
        <a class=" btn buttonDetail " href="{{ path('app_new_city') }}">Ajouter une ville</a>
    </div>
{% endblock %}