{% extends 'base.html.twig' %}
{% block title %}Ajouter une ville{% endblock %}
{% block body %}

    <div class="sortie-detail"
         style="max-width: 800px;">
        <h1 class="d-flex justify-content-center my-3">Sites existants</h1>
        <div class="padding"></div>
        {% for site in site %}
            <ul class="list-group text-center">
                <li class="text-center d-flex justify-content-between align-items-center mb-2 button-background">
                    <div>{{ site.nom |upper }}</div>
                    <div>
                        <a class=" btn buttonDetail " href="{{ path('app_delete_city', {'id': site.id}) }}"
                           style="color:white"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                </li>
            </ul>
        {% endfor %}
        <div class="padding"></div>
        <div class="width-100">
            <a href="{{ path('app_new_city') }}">
                <button class="button-background">AJOUTER UNE VILLE <i class="fa-solid fa-plus"></i></button>
            </a>
        </div>
    </div>


{% endblock %}