{% extends 'base.html.twig' %}

{% block title %}New City{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau site</h1>

    {{ form(siteForm) }}

    <a href="{{ path('app_list_site') }}">back to list</a>
{% endblock %}