<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SORTIR{% endblock %}</title>
    <script src="https://kit.fontawesome.com/96b8dfd23b.js" crossorigin="anonymous"></script>
    <link rel="icon"
          href="{{ asset('img/Sans titre.png') }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
{% include "partials/_header.html.twig" %}
<div class="w-50 mx-auto">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} text-center"> {{ message }} </div>
        {% endfor %}
    {% endfor %}
</div>
<div class="container p-2 flex-fill d-flex align-items-center justify-content-center flex-column" id="main-container">
    {% block body %}
    {% endblock %}
</div>
{% include "partials/_footer.html.twig" %}
</body>
</html>
